@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Archivo Black";
    src: url(fonts/ArchivoBlack-Regular.ttf);
}

body {
    background-color: #6666667f;
    margin: 0;
    display: flex;
    justify-content: stretch;
    -webkit-app-region: drag;
}

#dpage {
    -webkit-app-region: none;
    border-radius: 10px;
    background-color: #eee;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    height: calc(100vh - 32px);
    overflow-y: scroll;
    margin: 16px;
    margin-left: 0px;
}

/* #dpage::-webkit-scrollbar {
    -webkit-app-region: none;
} */

#dpage * {
    -webkit-app-region: none;
}

#map {
    /* -webkit-app-region: none; */
    border: #666666 solid;
    border-width: 4px;
    border-radius: 10px;
    flex-shrink: 0;
    resize: vertical;
    min-height: 256px;
    align-self: center;
    margin: 0;
    background-color: #ffbf00;
    width: 75%;
}

h1, h2, p {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    margin: 16px;
}

nav {
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
    background-color: #eee;
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    /* flex-grow: 1;  */
    height: calc(100vh - 32px);
    /* height: auto; */
    width: 128px;
    margin: 16px;
}

nav * {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    touch-action: manipulation;
    user-drag: none;
}

nav a img {
    width: 128px;
    margin: 0;
}

nav h1 {
    text-align: center;
    margin: 16px;
}

nav a {
    text-decoration: none;
}

nav a h1 {
    color: #303030;
    text-decoration: underline;
    text-decoration-color: #ffbf00;
    text-decoration-thickness: 1.5px;
}

a {
    -webkit-app-region: none;
}

.ptitle {
    font-family: 'Lexend Peta', sans-serif;
    text-transform: uppercase;
    letter-spacing: .0625em;
}

.dtitle {
    display: flex;
    align-self: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #4141417f;
    }
    #dpage {
        background-color: #222222;
    }
    h1, h2, p {
        color: #eee;
    }
    nav {
        border-radius: 10px;
        background-color: #222222;
        height: calc(100vh - 32px);
        /* height: auto; */
        width: 128px;
        margin: 16px;
    }
    nav a h1 {
        color: #eee;
    }
    #map {
        border: #414141 solid;
    }
}

button {
    /* -webkit-app-region: none; */
    display: flex;
    flex-shrink: 0;
    background-color: #ffbf00;
    border: #000 2px solid;
    border-radius: 4px;
    align-self: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    margin: 8px;
}

button * {
    margin: 8px;
    color: #000
}

button:active {
    background-color: #BF8C00;
}
